.header {
  text-align: center;
  border-bottom: 1px solid #c7c7c7;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__title {
  font-size: 24px;
  color: #424242;
}

.header__link-wrapper {
  font-size: 16px;
}

.content {
  padding-bottom: 42px;
}

.content__title {
  text-align: center;
  color: #79ADDC;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 42px;
  font-size: 16px;
}

.content-aside {
  background: #FCF5C7;
}

.content-aside__title {
  font-size: 14px;
  font-weight: bold;
  padding: 16px 8px;
}


.content-aside__list {
  padding: 4px 4px 4px 24px;
}

.content-aside__list-item {
  font-size: 11px;
  margin-bottom: 8px;
}

.content-aside__list-item:last-child {
  margin-bottom: 0;
}

.content-aside__list-dark-wrapper {
  background: #c9c9c9;
  margin-left: -16px;
  margin-right: -16px;
  padding: 16px;
}

.scheme-wrapper {
  height: 100%;
}

.scheme-list {
  list-style: none;
  margin-bottom: 0;
  height: 100%;
}

.scheme-list__pic {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 4px solid #c7c7c7;
}

.scheme-list__connect-wrapper {
  color: #66a4e6;
  position: absolute;
  right: -92px;
  font-size: 11px;
  width: 60px;
  top: calc(50%);
  transform: translateY(-50%);
}

.scheme-list__connect-wrapper:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid #66a4e6;
  border-top-color: transparent;
  border-right-color: transparent;
  right: -25px;
  top: -76px;
  transform: rotate(-135deg);
}

.scheme-list__connect-wrapper:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid #66a4e6;
  border-top-color: transparent;
  border-right-color: transparent;
  right: -25px;
  top: 102px;
  transform: rotate(-135deg);
}

.scheme-list__item {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.scheme-list__item_1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin-right: 100px;
}

.scheme-list__item_1 .scheme-list__pic,
.scheme-list__item_1 .scheme-list__pic-subtitle {
  position: relative;
  top: 14px;
}

.scheme-list__item_1:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #66a4e6;
  right: -28px;
  top: calc(50%);
  transform: translateY(-50%);
}

.scheme-list__item_1:after {
  content: '';
  position: absolute;
  width: 180px;
  height: 180px;
  border: 2px solid #66a4e6;
  border-top-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  right: -206px;
  top: calc(50% + 2px);
  transform: translateY(-50%) rotate(45deg);
}

.scheme-list__item_2 {
  width: 200px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.scheme-list__item_2:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #66a4e6;
  right: 79px;
  top: -32px;
  transform: translateY(-50%);
}

.scheme-list__item_2:after {
  content: '';
  position: absolute;
  width: 180px;
  height: 180px;
  border: 2px solid #66a4e6;
  border-top-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  right: -99px;
  top: -28px;
  transform: translateY(-50%) rotate(45deg);
}

.scheme-list__item_2 .scheme-list__connect-wrapper:before {
  right: 83px;
  top: -177px;
}

.scheme-list__item_2 .scheme-list__connect-wrapper:after {
  right: 83px;
  top: 1px;
}

.scheme-list__item_3 .scheme-list__step_top {
  top: 109px;
  left: 14px;
}

.scheme-list__item_3 .scheme-list__step_bottom {
  top: 282px;
  left: 14px;
}

.scheme-list__item_3 .scheme-list__step_sub {
  top: 388px;
}

.scheme-list__item_4:before {
  content: '';
  height: 2px;
  width: 40px;
  background: #c7c7c7;
  top: 124px;
  left: 106px;
  position: absolute;
}

.scheme-list__item_3 {
  top: 143px;
}

.scheme-list__item_4  {
  top: 143px;
}

.scheme-list__item_4:after {
  content: '';
  width: 10px;
  height: 10px;
  border: 2px solid #c7c7c7;
  border-top-color: transparent;
  border-right-color: transparent;
  top: 120px;
  left: 136px;
  position: absolute;
  transform: rotate(-135deg);
}

.scheme-list__item_4 .scheme-list__popup-wrapper {
  top: 304px;
  left: 143px;
  width: 110px;
}

.scheme-list__item_4 .scheme-list__popup-wrapper_right {
  left: 254px;
}

.scheme-list__item_4 .scheme-list__popup-wrapper:before {
  top: -48px;
}

.scheme-list__item_4 .scheme-list__popup-wrapper:after {
  top: -18px;
  transform: rotate(-45deg);
}

.scheme-list__item_4 .scheme-list__popup-tip {
  top: 63px;
}

.scheme-list__item_4 .scheme-list__popup-tip:before {
  top: -5px;
  transform: rotate(135deg);
}

.scheme-list__popup-wrapper_right .scheme-list__popup-tip {
  left: -203px;
}

.scheme-list__popup-wrapper_right .scheme-list__popup-tip:before {
  left: 250px;
}

.scheme-list__pic-subtitle {
  text-align: center;
  text-transform: uppercase;
}

.scheme-list__step {
  position: absolute;
}

.scheme-list__step_top {
  color: #66a4e6;
  font-size: 10px;
  width: 91px;
  top: -47px;
  left: 8px;
  text-align: center;
}

.scheme-list__step_bottom {
  color: #66a4e6;
  font-size: 10px;
  width: 77px;
  bottom: -51px;
  left: 14px;
  text-align: center;
}

.scheme-list__step_sub {
  font-size: 12px;
  top: 223px;
  left: -30px;
  text-align: center;
  width: 172px;
}

.scheme-list__step_sub:before {
  content: '';
  width: 2px;
  height: 40px;
  background: #c7c7c7;
  top: -50px;
  left: 80px;
  position: absolute;
}

.scheme-list__step_sub:after {
  content: '';
  width: 10px;
  height: 10px;
  border: 2px solid #c7c7c7;
  border-top-color: transparent;
  border-right-color: transparent;
  top: -20px;
  left: 76px;
  position: absolute;
  transform: rotate(-45deg);
}

.scheme-list__popup-wrapper {
  position: absolute;
  top: -161px;
  width: 100px;
}

.scheme-list__popup-wrapper:hover .scheme-list__popup-tip {
  opacity: 1;
}

.scheme-list__popup-wrapper:before {
  content: '';
  width: 2px;
  height: 40px;
  background: #ffc107;
  top: 61px;
  left: 50px;
  position: absolute;
}

.scheme-list__popup-wrapper:after {
  content: '';
  width: 10px;
  height: 10px;
  border: 2px solid #ffc107;
  border-top-color: transparent;
  border-right-color: transparent;
  top: 60px;
  left: 46px;
  position: absolute;
  transform: rotate(135deg);
}

.scheme-list__popup-wrapper_bottom {
  top: initial;
  bottom: -281px;
}

.scheme-list__popup-wrapper_bottom:before {
  top: -53px;
}

.scheme-list__popup-wrapper_bottom:after {
  top: -23px;
  transform: rotate(-45deg);
}

.scheme-list__popup-link {
  font-size: 11px;
  color: #346;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

.scheme-list__popup-tip {
  backface-visibility: hidden;
  font-size: 11px;
  position: absolute;
  background: #f7f7f7;
  border: 2px solid #c7c7c7;
  border-radius: 8px;
  padding: 8px;
  z-index: 9;
  width: 310px;
  top: -141px;
  left: -98px;
  opacity: 0;
  will-change: opacity;
  transition: opacity .3s ease-in-out;
}

.scheme-list__popup-tip:before {
  content: '';
  position: absolute;
  background: #f7f7f7;
  border: 2px solid #c7c7c7;
  border-top-color: transparent;
  border-right-color: transparent;
  width: 10px;
  height: 10px;
  top: 123px;
  left: 138px;
  transform: rotate(-45deg);

}

.scheme-list__popup-tip-title {
  font-weight: bold;
}

.scheme-list__popup-wrapper_bottom .scheme-list__popup-tip {
  top: -90px;
}

.scheme-list__popup-wrapper_bottom .scheme-list__popup-tip:before {
  top: 75px;
}

.duty-list-wrapper {
  position: absolute;
  background: #fcfcfc;
  border: 2px solid #ffc107;
  padding: 8px;
  width: 200px;
  top: 0;
  right: -357px;
}

.duty-list-title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
}

.duty-list {
  padding-left: 16px;
}

.duty-list__item {
  font-size: 11px;
  margin-bottom: 8px;
}

.duty-list__item:last-child {
  margin-bottom: 0;
}


.nds-row {
  padding-top: 24px;
}

.nav-list {
  padding: 0;
  list-style: none;
}

.nav-list__item {
  background: #c7c7c7;
  padding: 24px 8px;
  margin-bottom: 16px;
}

.nav-list__item:last-child {
  margin-bottom: 0;
}

.nav-list__item_active {
  background: #ffc107;
}

.article-description {
  text-align: center;
  width: 600px;
  font-size: 20px;
  margin: 0 auto 48px;
  color: #66a4e6;
}

.article-list-wrapper {
  font-size: 12px;
}

.article-list-description {
  margin-bottom: 0;
}

.article-list {
  padding-left: 15px;
}

.article-description-list {
  margin-top: 48px;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.article-description-list__item {
  width: 31%;
}

.article-description-list__title {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #66a4e6;
}

.article-description-list__text {
  font-size: 10px;
}

.footer {
  border-top: 1px solid #c7c7c7;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 12px;
  margin-top: 24px;
  color: #c7c7c7;
}
